#okno{
    width:100px;
    height:100px;
    color:black;
    border: 1px solid black;
    text-align: center;
    
    
    
}
#kontener1, #kontener2{
display: grid;
grid-template-columns: repeat(7, 100px);

justify-content: start;
margin-top:10px;


}
#koncowka{
    display:none;
}
img{
    display:none;
    width:150px;
    height:50px;
    padding-left:30px;
   
}
p{
    float:left;
    
}
.tresc_okna{
    margin-top:20px;
    
    

}



@media print {


    #kontener1, #kontener2 {
        display: grid !important;
        grid-template-columns: repeat(7, 100px); /* Musi być tyle samo co w zwykłym CSS */
        gap: 0; 
        margin: 0;
    }

    #kontener1 {
        direction: ltr; /* Strona A: od lewej do prawej */
    }

    #kontener2 {
        break-before: page;
        direction: rtl; /* Strona B: od prawej do lewej (odbicie lustrzane) */
    }

    .okno {
        direction: ltr; /* Tekst wewnątrz okna wraca do normalnego kierunku */
        page-break-inside: avoid;
    }
}